body {
    background-color: gray;
    color: white;
}

.wrapper {
    background-color: #363637;
    margin: 20px;
    width: 1200px;
    min-height: 720px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper-heading {
    color: #dcdcde;
    text-align: center;
}

.tasks-block {
    width: 340px;
    margin: 20px;
    padding: 10px;
    background-color: #474748;
    float: left;
}

.day-name {
    color: #dcdcde;
    text-align: center;
}

.task-div-no-priority {
    height: 40px;
    border: solid;
}

.add-task-button {

}

.normal {
    background-color: #dcdcde;
    color: #363637;
}

.wrong {
    background-color: indianred;
    color: white;
}

.wrong::placeholder {
    color: #dcdcde;
}

.delete-task-button {
    float: left;
    width: 70%;
    height: 100%;
}

.set-priority-button {
    float:left;
    height: 100%;
    border-left: solid;
}

.priority-div {

}